## 4. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍4

### Exercise 49. 데이터 구조 (튜플)
* a, b, c, d, e를 저장하는 튜플을 만들고 첫 번째 튜플값과 마지막 번째 튜플값을 출력하세요.

In [2]:
data = ('a', 'b', 'c', 'd')
print(data[0], data[-1])

a d

### Exercise 50. 데이터 구조 (튜플)
* 다음 코드를 작성해서 실행해보고 에러가 나는 이유를 설명하세요.

  - 실행코드
    ```python
    tupledata = ('dave', 'fun-coding', 'endless')
    tupledata[0] = 'david'
    ```
  - 에러
    ```python
    TypeError                                 Traceback (most recent call last)
    <ipython-input-2-db4a259aad24> in <module>()
          1 tupledata = ('dave', 'fun-coding', 'endless')
    ----> 2 tupledata[0] = 'david'

    TypeError: 'tuple' object does not support item assignment
    ```

In [4]:
# tuple은 수정 불가 객체
# tupledata = ('dave', 'fun-coding', 'endless')
# tupledata[0] = 'david'

### Exercise 51. 데이터 구조 (튜플)
* 다음 코드를 읽고, 최종적으로 var1과 var2의 값이 어떤 값이될지 확인해보고, 왜 이렇게 동작하는지 튜플을 기반으로 설명하세요.
  - 실행코드
    ```python
    var1, var2 = 1, 2
    var1, var2 = var2, var1
    ```

In [6]:
var1, var2 = 1, 2
print(var1, var2)
var1, var2 = var2, var1
print(var1, var2)

1 2
2 1

### Exercise 52. 데이터 구조 (튜플)
* 다음 코드에서 두번째 데이터부터 마지막 데이터를 다음과 같이 출력하세요

```python
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
```

출력:<br>
('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')

In [8]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
print(tupledata[1:])

('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')

### Exercise 53. 데이터 구조 (튜플과 리스트)
* 다음 튜플 데이터를 리스트 데이터로 변환한 후에 'fun-coding4' 데이터를 마지막에 추가하고, 다시 튜플 데이터로 변환하세요.
```python
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
```

In [9]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
temp_list = list(tupledata)
temp_list.append('fun-coding4')
tupledata = tuple(temp_list)
print(tupledata)

('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4')

### Exercise 54. 데이터 구조 (튜플, 리스트, 딕셔너리)
* 비어 있는 튜플, 리스트, 딕셔너리 변수를 하나씩 각각 만드세요.

In [10]:
var_tuple = tuple()
var_list = list()
var_dict = dict()
print(type(var_tuple), type(var_list), type(var_dict))

<class 'tuple'> <class 'list'> <class 'dict'>

### Exercise 55. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고, 딕셔너리 변수의 key 값인 영어단어, value 값인 의미 만을 가진 리스트 변수를 각각 만들고, 두 리스트 변수를 출력하세요.

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
</tr>
</tbody>
</table>

* 출력 예
<pre>
{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']
</pre>

In [17]:
dict_data = {'environment':'환경', 'company':'회사', 'government':'정부, 정치', 'face':'얼굴'}
key_data = list(dict_data.keys())
value_data = list(dict_data.values())
print(dict_data)
print(key_data)
print(value_data)

{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']

### Exercise 56. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들어서 다음과 같이 출력하세요.
  - 단, 반복문을 사용하세요.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
</tr>
</tbody>
</table>

In [21]:
dict_data = {'environment':'환경', 'company':'회사', 'government':'정부, 정치', 'face':'얼굴'}

for key in dict_data.keys():
    print(f"{key} : {dict_data[key]}")

environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴

### Exercise 57. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 외움표시가 X 인 영어단어만 출력하세요
  - 단, key는 영어단어, value는 의미와 외움표시 두 데이터를 넣습니다.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
<th>외움표시</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
<td>X</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
<td>O</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
<td>X</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
<td>X</td>
</tr>
</tbody>
</table>

* 출력 예
<pre>
environment
government
face
</pre>

In [24]:
dict_data = {'environment':['환경', 'X'], 'company':['회사', 'O'], 'government':['정부, 정치', 'X'], 'face':['얼굴', 'X']}

for key in dict_data:
    if dict_data[key][1] == 'X':
        print(key)

environment
government
face

### Exercise 58. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 사용자로부터 영어단어를 입력받으면 해당 영어단어의 외움표시를 O로 수정하고, 외움표시가 X 인 단어만 출력하는 프로그램을 작성하세요.
  - 단, key는 영어단어, value는 의미와 외움표시 두 데이터를 넣습니다.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
<th>외움표시</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
<td>X</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
<td>O</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
<td>X</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
<td>X</td>
</tr>
</tbody>
</table>

* 입력: government
* 출력
<pre>
environment
face
</pre>

In [16]:
dict_data = {'environment':['환경', 'X'], 'company':['회사', 'O'], 'government':['정부, 정치', 'X'], 'face':['얼굴', 'X']}
# input_data = input("Enter a word: ")
input_data = 'government'

# if dict_data[input_data]:
if input_data in dict_data.keys():
    dict_data[input_data][1] = 'O'
    for key in dict_data:
        if dict_data[key][1] == 'X':
            print(key)
else:
    print("Enter another world")

environment
face

### Exercise 59. 데이터 구조 (딕셔너리)
* 다음 dict_all, dict2, dict3 딕셔너리 변수가 있을 때, dict2와 dict3 두 데이터를 dict_all 딕셔너리 변수에 추가한 후, dict_all 변수를 출력하세요.
```python
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}
```

In [28]:
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}
print(dict_all)

for key in dict2:
    dict_all[key] = dict2[key]

for key in dict3:
    dict_all[key] = dict3[key]

print(dict_all)

{'environment': '환경', 'gonernment': '정부, 정치'}
{'environment': '환경', 'gonernment': '정부, 정치', 'company': '회사', 'face': '얼굴', 'apple': '사과'}

### Exercise 60. 데이터 구조 (딕셔너리)
* 다음 actor_info 딕셔너리 변수를 만들고, 홈페이지, 배우 이름, 최근 출연 영화 갯수를 다음과 같이 출력하세요

```python
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}
```

* 출력 예:<br>
배우 이름: 마동석 <br>
홈페이지: https://www.instagram.com/madongseok <br>
출연 영화 갯수: 3 <br>

In [7]:
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}

print(f"배우 이름: {actor_info['actor_name']}")
print(f"홈페이지: {actor_info['actor_details']['홈페이지']}")
print(f"출연 영화 갯수: {len(actor_info['movie_list'])}")

배우 이름: 마동석
홈페이지: https://www.instagram.com/madongseok
출연 영화 갯수: 3

### Exercise 61.  데이터 구조 (집합)
number_list가 다음과 같은 리스트일 때 중복 숫자를 제거한 number_list1 집합을 만들고, 출력하세요
```python
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
```

In [8]:
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
number_list1 = set(number_list)
print(number_list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Exercise 62.  데이터 구조 (집합)
number_list2에 다음과 같은 데이터를 순서대로 추가하고, 제거하세요
```python
선언: [1, 2, 3]
추가: 4
추가(업데이트): [5, 6]
제거: 2
```

In [19]:
number_list2 = {1, 2, 3}
number_list2.add(4)
number_list2.update([5, 6])
number_list2.remove(2)

print(number_list2)

{1, 3, 4, 5, 6}

### Exercise 63.  데이터 구조 (집합)
number_list1과 number_list2의 교집합, 차집합을 출력하세요

In [21]:
number_list1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
number_list2

{1, 3, 4, 5, 6}

In [23]:
# 교집합
number_list1 & number_list2

{1, 3, 4, 5, 6}

In [24]:
# 차집합
number_list1 - number_list2

{2, 7, 8, 9, 10}

In [25]:
# 합집합
number_list1 | number_list2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [26]:
# 여집합
number_list1 ^ number_list2

{2, 7, 8, 9, 10}